@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutAuth";
}
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form method="POST" enctype="multipart/form-data" asp-action="send-reset-password" asp-controller="auth">
                <h1> Distribution System</h1>
                <span class="text-danger">@TempData["Message"]</span>
                <div>
                    <input type="email" class="form-control" placeholder="Email" name="Email" required="" />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">
                        Send Reset Password
                    </button>
                    <a class="reset_pass" asp-action="login" asp-controller="auth">Back to Login</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">

                    <div class="clearfix"></div>
                    <br />

                    <p>
                        ©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and
                        Terms
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
