@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutAuth";
}
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form method="POST" enctype="multipart/form-data" asp-action="checkLogin" asp-controller="auth">
                <h1> Distribution System</h1>
                <span class="text-danger">@TempData["Message"]</span>
                <div>
                    <input type="text" class="form-control" placeholder="Username or Email" name="username" required="" />
                </div>
                <div>
                    <input type="password" class="form-control" placeholder="Password" name="password" required="" />
                </div>  
                <div>
                    <button class="btn btn-success w-100" type="submit">
                        Login
                    </button>
                    <a class="reset_pass" asp-action="forgot-password" asp-controller="auth">Lost your password?</a>
                </div>

                <div class="clearfix"></div>
            </form>
        </section>
    </div>
</div>