@{
    ViewData["Title"] = "Internal Server Error";
    Layout = "_LayoutError";
}
<h1 class="error-number">500</h1>
<h2>Internal Server Error</h2>
<p>
    We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing
</p>