@{
    ViewData["Title"] = "Access denied";
    Layout = "_LayoutError";
}
<h1 class="error-number">403</h1>
<h2>Access denied</h2>
<p>
    Full authentication is required to access this resource.
</p>