@{
    ViewData["Title"] = "Confirmation Interview";
    Layout = "_LayoutAuth";
}
<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content p-3">
            <h3 class="h3">@ViewBag.Response</h3>
            <div class="clearfix"></div>
        </section>
    </div>
</div>