@{
  ViewData["Title"] = "Dashboard";
  Layout = "_LayoutApp";
}
<!-- page content -->
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left w-100">
            <h4>Hi @ViewBag.Name,</h4>
            <h3>Welcome to Distribution System! </h3>
            <p id="dateToday">-</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Info</h2>
                    <ul class="nav navbar-right panel_toolbox flex-row-reverse">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content card" style="padding:20px">
                    <div class="row">
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-users" style="margin-bottom:5px"></i>
                                </div>
                                <div class="count" id="totalCandidate">-</div>
                                <h3>Total of Candidate</h3>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-building-o" style="margin-bottom:5px"></i>
                                </div>
                                <div class="count" id="totalCompany">-</div>
                                <h3>Total of Company</h3>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa fa-clock-o" style="margin-bottom:5px"></i>
                                </div>
                                <div class="count" id="totalCandidateIdle">-</div>
                                <h3>Candidate Idle</h3>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-check-circle" style="margin-bottom:5px"></i>
                                </div>
                                <div class="count" id="totalCandidateOnboard">-</div>
                                <h3>Candidate Online</h3>
                            </div>
                        </div>

                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-calendar" style="margin-bottom:5px"></i>
                                </div>
                                <div class="count" id="totalInterviewOngoing">-</div>
                                <h3>Upcoming Interview</h3>
                            </div>
                        </div>

                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-check-square" style="margin-bottom:5px"></i>
                                </div>
                                <div class="count" id="totalInterviewSuccess">-</div>
                                <h3>Successfull Interview</h3>
                            </div>
                        </div>

                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-close" style="margin-bottom:5px"></i>
                                </div>
                                <div class="count" id="totalInterviewCanceled">-</div>
                                <h3>Canceled Interview</h3>
                            </div>
                        </div>
                        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                            <div class="tile-stats">
                                <div class="icon">
                                    <i class="fa fa-rocket" style="margin-bottom:5px"></i>
                                </div>
                                <div class="count" id="totalOnboard">-</div>
                                <h3>Total Onboard</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div><br /></div>*@

    <!--Calendar Schedule-->
    
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Schedule Interview</h2>
                    <ul class="nav navbar-right panel_toolbox flex-row-reverse">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- calendar modal schedule interview-->
    <!-- calendar modal -->
    <div class="modal fade" id="detailInterview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail Interview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">ID : <span id="interviewId">-</span></li>
                        <li class="list-group-item">Candidate name :<span id="candidateName"> - </span></li>
                        <li class="list-group-item">Candidate email :<span id="candidateEmail"> - </span></li>
                        <li class="list-group-item">Customer name: <span id="customerName"> - </span></li>
                        <li class="list-group-item">Customer email: <span id="customerEmail"> - </span></li>
                        <li class="list-group-item">Company: <span id="companyName"> - </span></li>
                        <li class="list-group-item">Apply: <span id="jobTitle"> - </span></li>
                        <li class="list-group-item">Type : <span id="type"> - </span></li>
                        <li class="list-group-item">Start Interview : <span id="startDate"> - </span></li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="fc_detail" data-toggle="modal" data-target="#detailInterview"></div>
</div>

    <!-- /page content -->
