@{
    ViewData["Title"] = "Schedule Interview";
    Layout = "_LayoutApp";
}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Admin">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/Admin">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        </div>

        <div class="col-12">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Data Schedule Interview</h2>
                    <ul class="nav navbar-right panel_toolbox flex-row-reverse">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <a type="button" class="btn btn-success" href="~/admin/scheduleinterview/create">Add New Interview Schedule</a>

                                <table id="datatable-interview-schedule" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th width="1%">No</th>
                                            <th>Customer Name</th>
                                            <th>Candidate Name</th>
                                            <th>Company Name</th>
                                            <th>Positon Apply</th>
                                            <th>Schedule</th>
                                            <th>Status</th>
                                            <th width="10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modalOnboard" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create schedule onboard candidate</h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="form-create-onbaord" method="post">
                <input id="inputCandidateId" type="hidden" />
                <input id="inputCompanyId" type="hidden" />
                <input id="inputJobTitle" type="hidden" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="candidateName">Candidate name</label>
                        <span id="candidateName" type="text" class="form-control"></span>
                    </div>
                    <div class="form-group">
                        <label for="candidateEmail">Candidate email</label>
                        <span id="candidateEmail" type="text" class="form-control"></span>
                    </div>
                    <div class="form-group">
                        <label for="companyName">Company name</label>
                        <span id="companyName" type="text" class="form-control"></span>
                    </div>
                    <div class="form-group">
                        <label for="jobTitle">Job title</label>
                        <span id="jobTitle" type="text" class="form-control"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputOnboardate">Onboard Date</label>
                        <input id="inputOnboardate" type="text" name="daterange" class="form-control">
                        <div class="invalid-feedback">
                            <span id="messageOnboardate"></span>
                        </div>
                    </div>
                    <input id="dateStart" type="hidden" />
                    <input id="dateEnd" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="modalDetail" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Detail schedule interview</h4>

                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p>Candidate name :  <span id="candidateNameDetail"></span></p>
                    </li>
                    <li class="list-group-item">
                        <p>Candidate email :  <span id="candidateEmailDetail"></span></p>
                    </li>
                    <li class="list-group-item">
                        <p>Company :  <span id="companyNameDetail"></span></p>
                    </li>
                    <li class="list-group-item">
                        <p>Position Apply :  <span id="jobTitleDetail"></span></p>
                    </li>
                    <li class="list-group-item">
                        <p>Customer :  <span id="customerNameDetail"></span></p>
                    </li>
                    <li class="list-group-item">
                        <p>Customer email :  <span id="customerEmailDetail"></span></p>
                    </li>
                    <li class="list-group-item">
                        <p>Scedule Interview :  <span id="dateStartDetail"></span></p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Deleta Data</button>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
